.banner-container {
  position: relative;
  text-align: center;
}

.banner-img {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card {
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}
